In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("example.csv")

In [ ]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [8]:
df.to_csv("output.csv")

In [9]:
pd.read_csv("output.csv")

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [10]:
tables = pd.read_html("http://www.fdic.gov/bank/individual/failed/banklist.html")

In [11]:
tables

[                             Bank Name  ...       Closing Date
 0                 The First State Bank  ...      April 3, 2020
 1                   Ericson State Bank  ...  February 14, 2020
 2     City National Bank of New Jersey  ...   November 1, 2019
 3                        Resolute Bank  ...   October 25, 2019
 4                Louisa Community Bank  ...   October 25, 2019
 ..                                 ...  ...                ...
 556                 Superior Bank, FSB  ...      July 27, 2001
 557                Malta National Bank  ...        May 3, 2001
 558    First Alliance Bank & Trust Co.  ...   February 2, 2001
 559  National State Bank of Metropolis  ...  December 14, 2000
 560                   Bank of Honolulu  ...   October 13, 2000

 [561 rows x 6 columns]]

In [12]:
tables[0]

                             Bank Name  ...       Closing Date
0                 The First State Bank  ...      April 3, 2020
1                   Ericson State Bank  ...  February 14, 2020
2     City National Bank of New Jersey  ...   November 1, 2019
3                        Resolute Bank  ...   October 25, 2019
4                Louisa Community Bank  ...   October 25, 2019
..                                 ...  ...                ...
556                 Superior Bank, FSB  ...      July 27, 2001
557                Malta National Bank  ...        May 3, 2001
558    First Alliance Bank & Trust Co.  ...   February 2, 2001
559  National State Bank of Metropolis  ...  December 14, 2000
560                   Bank of Honolulu  ...   October 13, 2000

[561 rows x 6 columns]